<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" href="/Cubyz/assets/css/styles.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<title>Cubyz - {{ page.title }}</title>
		{% include navigation.html %}
		<style>
			body {
				background-image: url("/Cubyz/assets/images/background.png");
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-size: cover;
				position: relative;
				top: 60px;
				color: white;
			}
		</style>
	</head>
	<body>
		{{ content }}
	</body>
</html>
